version: 2
updates:
  # Configuración para el Frontend (JavaScript/NPM)
  - package-ecosystem: "npm"
    directory: "/src/frontend"
    schedule:
      interval: "weekly"
      day: "monday"
    open-pull-requests-limit: 5

  # Configuración para el Backend (.NET/NuGet)
  - package-ecosystem: "nuget"
    directory: "/src/backend/sql_agents/tools/src"
    schedule:
      interval: "weekly"
      day: "monday"
    open-pull-requests-limit: 5
