main {
  padding-top: 8rem !important;
}
.main-content {
  transition: margin-right 0.3s ease-in-out; /* Smooth transition */
  margin-right: 0px; /* Default margin */
}

.main-content.shifted {
  margin-right: 300px; /* Adjust to panel width */
}

/* html, body {
  overflow: auto;
  scrollbar-width: none;
} */

html, body {
overflow: auto;
scrollbar-width: none; /* Ensures scrollbar is visible */
}

/* For WebKit-based browsers (Chrome, Safari) */
html::-webkit-scrollbar {
width: 8px; /* Adjust width as needed */
}

html::-webkit-scrollbar-thumb {
background: #888; /* Scrollbar color */
border-radius: 4px;
}

html::-webkit-scrollbar-track {
background: #f1f1f1; /* Track color */
}

.main-content {
  // overflow: hidden;
  // overflow-y: auto;
  flex: 1;
  /* //margin-top: 60px; Same as header height */
  margin-bottom: 50px; /* Adjust based on bottom bar height */
  scrollbar-width: none;
}

.pointerCursor {
  cursor: pointer;
}

.zI-950{
  z-index:950;
  background:'red'
}



// .landing-page p {
//   font-size: 1.2rem;
//   font-weight: bold;
// }

.landing-page main {
  //padding-top: 16rem; /* Adjust the value as needed */
}

.landing-page p {
  //margin-bottom: 8rem; /* Space between text and upload button */
}

.panelRight{
  position: "fixed";
  top:'60px'; 
  right: 0;
  height: "calc(100vh - 60px)"; 
  width: "300px"; 
  z-index: 1050;
  background: "white";
  overflow-y: "auto";
}